{% extends 'base.html' %}

{% block content %}
		<div class="fh5co-hero" data-section="home">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({{ url_for('static', filename='images/Acasia.jpg') }});">
				<div class="display-t">
					<div class="display-tc">
						<div class="container">
							<div class="col-md-10 col-md-offset-1">
								<div class="animate-box">
									<br>
									<h1>Events</h1>
									<h2>Abeni </h2>
									<p>Come join us for the traditional festivities at </p>
                                    <p><a href="https://maps.app.goo.gl/SwZLwSmKxMgfbf158" style="color: white;">📍 Acasia Villa</a></p>
									<br>
										<div class="row fh5co-event-list text-center">
											<div class="col-md-4 col-xs-4">
												<div class="fh5co-event-card">
													<h2><span class="emojo">🥥</span> <br> Roce</h2>
													<h3>🗓️ 27<sup>th</sup> December 2025</h3>
													<h3>🕕 6:00 PM onwards</h3>
												</div>
											</div>
											<div class="col-md-4 col-xs-4">
												<div class="fh5co-event-card">
													<h2><span class="emojo">🙏</span> <br> Blessings</h2>
													<h3>🗓️ 28<sup>th</sup> December 2025</h3>
													<h3>🕐 1:00 PM -- 2:00 PM</h3>
												</div>
											</div>
											<div class="col-md-4 col-xs-4">
												<div class="fh5co-event-card">
													<h2><span class="emojo">✨</span> <br> Portonem</h2>
													<h3>🗓️ 29<sup>th</sup> December 2025</h3>
													<h3>🕖 7:00 PM onwards</h3>
												</div>
											</div>
										</div>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}